<!DOCTYPE html>
<html lang="en">
<head>
  @@include('./../includes/meta.html')
</head>
<body>



  <div class="state-machine">
    <div class="state-machine__stage state-machine__stage--0">Stage 0</div>
    <div class="state-machine__stage state-machine__stage--1">Stage 1</div>
    <div class="state-machine__stage state-machine__stage--2">Stage 2</div>
    <div class="state-machine__stage state-machine__stage--3">Stage 3</div>
    <button class="state-machine__button state-machine__button--1">Включить stage 1</button>
    <button class="state-machine__button state-machine__button--2">Включить stage 2</button>
    <button class="state-machine__button state-machine__button--3">Включить stage 3</button>
  </div>



  <script src="js/vendors.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>
